# Notebook Contents
01. Importing Libraries
02. Importing Data
03. Checking and Merging Dataframes
04. Task 4.6

# 01. Importing Libraries

In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [5]:
#Creating path
path =r'C:\Users\smflo\Documents\03-2023 Instacart Basket Analysis'

In [19]:
#Importing orders_checked.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [26]:
#Importing order_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

# 03. Checking and Merging Dataframes

In [27]:
#Checking output for df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [28]:
#Checking output for df_ords
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [29]:
#Checking df_ords_prior shape
df_ords_prior.shape

(32434489, 4)

In [30]:
#Checking df_ords shape
df_ords.shape

(3421083, 8)

In [31]:
#Merging df_ords with df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [32]:
#Checking output for merged dataframes
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [33]:
#Checking value counts for '_merge' column
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# 04. Task 4.6

In [34]:
#Exporting df_merged_large as .pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))